@use "../../../styles/fluent-variables" as *;

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.page-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}
